### D19026
### Rahul Aggarwal

## Sampling Distribution - Part(B)

**Introduction** - Confidence level is the probability that the value a specified range of values will able to capture the parameter with the confidence. For example - A 95% confidence level implies that 95% of time the confidence intervals would able to capture the true population parameter.

**Objective** - To Verify with practical example the confidence Interval defination hold good using Montly Income variable of attrition data

In [2]:
#importing required packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
attrition=pd.read_csv("attrition.csv")

In [4]:
attrition.head()

,Age,Attrition,BusinessTravel,Department,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,JobSatisfaction,MaritalStatus,MonthlyIncome,OverTime,TotalWorkingYears,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,1,Travel_Rarely,Sales,Life Sciences,2,Female,3,2,4,Single,5993,Yes,8,1,6,4,0,5
1,49,0,Travel_Frequently,Research & Development,Life Sciences,3,Male,2,2,2,Married,5130,No,10,3,10,7,1,7
2,37,1,Travel_Rarely,Research & Development,Other,4,Male,2,1,3,Single,2090,Yes,7,3,0,0,0,0
3,33,0,Travel_Frequently,Research & Development,Life Sciences,4,Female,3,1,3,Married,2909,Yes,8,3,8,7,3,0
4,27,0,Travel_Rarely,Research & Development,Medical,1,Male,3,1,2,Married,3468,No,6,3,2,2,2,2

In [29]:
#selecting our variable of interest monthly income in population variable
population=attrition["MonthlyIncome"]
mean_population=round(np.mean(population),2)
print(mean_population)

6502.93

#### Ques.1
a) Select a sample of size 200 from the population and Calculate 95% Confidence Interval estimate of the population mean.<br>
b)Repeat Above step for 1000 times and check how mnay of those confidence interval captures the true population mean.

In [31]:
sample1=np.random.choice(population,200)        # Selecting 200 random variable from population
sample1_mean=round(np.mean(sample1),2)
sample1_se=round(np.std(population)/np.sqrt(200),2)    #Calculating Standard Error for size 200.
ci_95=[round(-1.96*sample1_se+sample1_mean,2),round(1.96*sample1_se+sample1_mean,2)]     #Calcuating 95% Confidence Interval
print("Sample Mean", sample1_mean)
print("Standard Error",sample1_se)
print("95% CI",ci_95)
print("Range of CI",round(ci_95[1]-ci_95[0],2))

Sample Mean 6105.89
Standard Error 332.79
95% CI [5453.62, 6758.16]
Range of CI 1304.54

In [49]:
ci_list=[]
all_mean=[]
ci_std=[]
sample1_se=np.std(population)/np.sqrt(200)  #Calculating Standard Error for size 200

for i in range (0,1000):                       # Running Loop for 1000 samples
    sample1=np.random.choice(population,200)   # Selecting 200 random variable from population
    sample1_mean=np.mean(sample1)              #Calculating sample mean and appending in all_mean list
    all_mean.append(sample1_mean)     
    
#Calculating 95% C.I. and appenidng in ci_list.
    ci_95=[round(-1.96*sample1_se+sample1_mean,2),round(1.96*sample1_se+sample1_mean,2)] 
    ci_list.append(ci_95)  
    
    
#Checking how many times interval range able to capture the true population mean
count_yes=0
count_no=0
for i in range(0,len(ci_list)):
    if(ci_list[i][0] < mean_population and ci_list[i][1]>mean_population):#Checking if interval captured population mean
        count_yes+=1
    else:
        count_no+=1
print("Able to Capture True Population Mean no. of times: ",count_yes)
print("Not Able to Capture True Population Mean no. of times: ",count_no)

Able to Capture True Population Mean no. of times:  956
Not Able to Capture True Population Mean no. of times:  44

**Observation** -So, We can see clearly from above experiment that by using 95% confidence interval it is able to capture mean around 95% out of 1000 samples.

#### Ques. 2
Wide Vs Narrow CI:
Collect a sample size of 200 from population and Calculate:<br>
a) 90% CI
b) 99% CI estimates of population mean ,which one is wider?<br>
Why do you think one to be wider than other?

In [50]:
sample1=np.random.choice(population,200)              #Selecting 200 random variable form population
sample1_mean=round(np.mean(sample1),2)                #Calculating sample mean
sample1_se=round(np.std(population)/np.sqrt(200),2)   #Calculating standard error for size 200

#a) For 90% CI
ci_90=[round(-1.64*sample1_se+sample1_mean,2),round(1.64*sample1_se+sample1_mean,2)]      #Calculating 90% CI
print("90% CI is ",ci_90)
print("Range",round(ci_90[1]-ci_90[0],2))

#b) For 99% CI
ci_99=[round(-2.58*sample2_se+sample2_mean,2),round(2.58*sample2_se+sample2_mean,2)]      #Calculating 99% CI
print("99% CI is ",ci_99)
print("Range",round(ci_99[1]-ci_99[0],2))

90% CI is  [5607.04, 6698.6]
Range 1091.56
99% CI is  [5533.62, 7250.82]
Range 1717.2

**Observation** - As we can see above Range of 99% CI is wider than 90% CI. <br>
99% CI should be wider because in this case we want that our interval should bale to capture the populatin mean 99 times out of 100.

#### Ques. 3
Collect 2 Samples from the population.
S1 of size 200 and S2 of size 400. Using both the samples calculate <br>
a) 90% CI Estimate of mean<br>
Which one should be narrower and theoritcally which one you expect to be narrower and Why?

In [52]:
s1=np.random.choice(population,200)              #Selecting 200 random variable form population
s1_mean=round(np.mean(s1),2)                     #Calculating sample mean
s1_se=round(np.std(population)/np.sqrt(200),2)   #Calculating standard error for size 200

#a) For s1 of size 200
s1_ci_90=[round(-1.64*s1_se+s1_mean,2),round(1.64*s1_se+s1_mean,2)]      #Calculating 90% CI
print("90% CI of sample size 200 is ",s1_ci_90)
print("Range",round(s1_ci_90[1]-s1_ci_90[0],2))


s2=np.random.choice(population,400)              #Selecting 400 random variable form population
s2_mean=round(np.mean(s2),2)                     #Calculating sample mean
s2_se=round(np.std(population)/np.sqrt(400),2)   #Calculating standard error for size 400

#a) For s2 of size 400
s2_ci_90=[round(-1.64*s2_se+s2_mean,2),round(1.64*s2_se+s2_mean,2)]      #Calculating 90% CI
print("90% CI of sample size 400 is ",s2_ci_90)
print("Range",round(s2_ci_90[1]-s2_ci_90[0],2))

90% CI of sample size 200 is  [6216.12, 7307.68]
Range 1091.56
90% CI of sample size 400 is  [6307.86, 7079.7]
Range 771.84

**Observation** - Greater the sample size, narrower the Confidence Interval, i.e more accurate determination of interval to capture the population mean from the sample means.<br>
**Theoritically** - The standard error for a population percentage has the square root of  the sample size in the denominator.<br>
S.E = Standard Deviation of Sample/ sqrt (size of sample)
<br>
So, increasing the sample size by a factor of n is equivalent to multiplying the standard error by 1/sqrt(n).  Hence, the interval will be decreased by a factor of sqrt(n).<br>

**Conclusion** -<br>
1. When we say 95% confidence interval that means we will like to create to interval a,b which will have the center X' such that this interval will be able to capture the mean population with probability 0.95<br>
2. Greater the sample size, narrower the Confidence Interval, i.e more accurate determination of interval to capture the population mean from the sample means.